<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title></title>
		<link type="application/opensearchdescription+xml" rel="search"
			  href="{{ filepath }}" />
</head>
<body>


		<a href="#" onclick="window.external.AddSearchProvider('{{ filepath }}');" >Click here is the search provider was not added automatically</a>

		<script>
		{% if javascriptAdd == true %}
			window.onload = window.external.AddSearchProvider("{{ filepath }}");
		{% endif %}
		</script>
</body>

</html>

